{{define "video-content"}}
<div class="row text-start text-lg">
  <div class="col-12">
    <h2 class="text-center text-decoration-underline">Video Content</h2>

    <p>
      As part of its efforts to educate users, Trial and Errror produces
      YouTube videos on topics centered around Programming, Web
      Development, and Technology in general.
    </p>
    <div class="row mt-4 mb-4">
      <div class="video-card col-12 col-md-4">
        <div class="thumbnail">
          <a href="https://www.youtube.com/watch?v=HYN_cM5vYZo">
            <img
              alt="Thumbnail for a Trial and Errror video on What is Code"
              src="/images/what_is_code_video.webp"
              class="img-fluid screenshot"
            />
          </a>
        </div>
      </div>

      <div class="video-card col-12 col-md-4">
        <div class="thumbnail">
          <a href="https://www.youtube.com/watch?v=WR_i0ZWNYvQ">
            <img
              alt="Thumbnail for a Trial and Errror video on Connecting to the Internet"
              src="/images/internet_video.webp"
              class="img-fluid screenshot"
            />
          </a>
        </div>
      </div>
      <div class="video-card col-12 col-md-4">
        <div class="thumbnail">
          <a href="https://www.youtube.com/watch?v=G9EouR-ghnU">
            <img
              alt="Thumbnail for a Trial and Errror video on Software Updates"
              src="/images/updates_video.webp"
              class="img-fluid screenshot"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <p>
    Trial and Errror uses a combination of technical explanations, risk
    evaluations, and fundamentals of programming to help empower users
    to make the right technology choices for themselves.
  </p>
  <p class="text-start">
    If you're curious about new technology, or you want to learn more
    about the hardware and software you already use, head over to the
    <a href="https://www.youtube.com/channel/UC4APdOhgNwwThdVJUFWDfxA"
      >YouTube Channel</a
    >
    to see more from Trial and Errror!
  </p>
</div>
{{end}} 