{{define "writings"}}
<div class="row">
  <div class="col-12">
    <h2 class="text-center text-decoration-underline">Writings</h2>
    <p>
      If you're looking for more content, head over to my blog, where I
      write articles about my opinions on software development, helpful
      tools I come across, and general thoughts on technology that I
      want to share. Visit
      <a href="http://write.as/thewadegreen">write.as/thewadegreen/</a>
      to read more!
    </p>
  </div>
</div>
{{end}} 