{{define "professional-experience"}}
<div class="col-12 col-6-xl">
  <h2 class="title-shadow">Professional Experience</h2>
  <div class="text-start">
    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">Open Architects</p>
        <p class="date-range col-12 col-md-6 text-md-end">
          08/2023 to Current
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">Web Developer</p>
        <p class="location col-12 col-md-6 text-md-end">Remote</p>
      </div>
      <div class="description">
        <ul>
          <li>
            Full-stack development of Flask web portal with HTML,
            jQuery, and Bootstrap frontend, including new feature
            development, bugfixes, and maintenance.
          </li>
          <li>
            Building tools in Golang for data ingest and
            validation that reduce ingest processing times from
            6-10 hours down to 6-10 minutes.
          </li>
          <li>
            Planning and scoping new feature work in collaboration
            with product team and design team to meet expectations
            of leadership.
          </li>
        </ul>
      </div>
    </div>
    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">Trial and Errror</p>
        <p class="date-range col-12 col-md-6 text-md-end">
          11/2020 to Current
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-8">
          Software Engineer & Consultant
        </p>
        <p class="location col-12 col-md-4 text-md-end">
          Maryland
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Developing and managing custom Django application for
            small business &amp; nonprofit clients.
          </li>
          <li>
            Managed transition of website and email services to
            self-hosting provider for business client.
          </li>
          <li>
            Consulting clients on best practices in managing
            technology to improve their web presence
          </li>
        </ul>
      </div>
    </div>
    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">Lofty Labs</p>
        <p class="date-range col-12 col-md-6 text-md-end">
          05/2022 to 06/2023
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">Software Engineer</p>
        <p class="location col-12 col-md-6 text-md-end">
          Fayetteville, AR (Remote)
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Full-stack development of Django apps with
            Alpine+HTMX/React/Vue frontends for mid-size firms.
          </li>
          <li>
            Documenting code and identifying issues in writing for
            future developers.
          </li>
          <li>
            Researching new technologies and determining viability
            for use in future products.
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">
          Data Science for All (DS4A)
        </p>
        <p class="date-range col-12 col-md-6 text-md-end">
          10/2021 to 03/2022
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">
          Student Data Engineer
        </p>
        <p class="location col-12 col-md-6 text-md-end">Remote</p>
      </div>
      <div class="description">
        <ul>
          <li>
            Developing custom data pipeline for gathering data
            from 6 separate sources to compile and clean dataset
            with 2.9 million rows of data using Python and SQL
          </li>
          <li>
            Coordinating data and project initiatives for the DS4A
            Fellowship (1% acceptance rate)
          </li>
          <li>
            Collaborating with teammates and data scientist
            industry mentors to research how subbing and/or
            dubbing affects Netflix movie popularity
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">Wells Fargo</p>
        <p class="date-range col-12 col-md-6 text-md-end">
          05/2020 to 05/2022
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">
          Litigation Case Manager
        </p>
        <p class="location col-12 col-md-6 text-md-end">
          Columbia, MD
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Communicated with Outside Counsel to monitor ~80
            Foreclosure matters on behalf of Wells Fargo and
            identify risks across ~$50m in residential loans
          </li>
          <li>
            Prepared reports and presenting monthly updates on
            active matters to Vice President of department and
            other leadership
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">
          Literacy Council of Maryland
        </p>
        <p class="date-range col-12 col-md-6 text-md-end">
          03/2021 to 03/2022
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">
          Volunteer Technology instructor
        </p>
        <p class="location col-12 col-md-6 text-md-end">
          Columbia, MD (Remote)
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Teaching Groups of 12 Adult Learners about Google
            Workspace and Fundamentals of Computers
          </li>
          <li>
            Answering Questions and Providing Advice on Technology
            and General Security
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">
          InsightGlobal @ Facebook
        </p>
        <p class="date-range col-12 col-md-6 text-md-end">
          11/2019 to 04/2020
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">
          Data Privacy Policy Manager
        </p>
        <p class="location col-12 col-md-6 text-md-end">
          Menlo Park, CA / Washington, DC
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Evaluated behavior of ~150 Service Providers to
            identify violations of Platform Policies
          </li>
          <li>
            Collaborated with Technical and Partnership teams to
            determine Scope of Violations and Enforcement.
          </li>
          <li>
            Participated in continuous improvement by generating
            suggestions while engaging in problem-solving
            activities to support teamwork.
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">
          Charleston School of Law
        </p>
        <p class="date-range col-12 col-md-6 text-md-end">
          03/2019 to 10/2019
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">
          Externship Liaison
        </p>
        <p class="location col-12 col-md-6 text-md-end">
          Charleston, SC
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Academic Affairs: Prepared and formatted ~40 exams,
            processed completed exams, and prepared grade reports.
            Secured testing materials and maintained
            confidentiality of all details. Enforced compliance
            with exam policies, practices, and procedures.
          </li>
          <li>
            Faculty Assistance: Prepared reference materials
            deepen student understanding of course material, such
            as Case History Timelines and Study Aids.
          </li>
          <li>
            Externships: Organized, facilitated, and monitored
            progress of ~50 Externship Students and presented
            reports to Externship Director. Ensured Student and
            Employer compliance with Externship policies and
            regulations.
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">
          Van de Poel, Levy, Arneal &amp; Serot, LLP
        </p>
        <p class="date-range col-12 col-md-6 text-md-end">
          08/2018 to 09/2018
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">
          Law Clerk/Paralegal
        </p>
        <p class="location col-12 col-md-6 text-md-end">
          Walnut Creek, CA
        </p>
      </div>
      <div class="description">
        <ul>
          <li>Prepared legal briefs, motions, and pleadings.</li>
          <li>
            Investigated facts and laws to determine causes of
            action and prepare cases.
          </li>
          <li>
            Drafted memos on statutes, case law, and State/Federal
            regulations using online research databases, such as
            Westlaw, Lexis, and print sources.
          </li>
          <li>
            Drafted investigation discovery responses by
            researching and evaluating claims.
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">
          Law Offices Of Bowman And Associates, APC
        </p>
        <p class="date-range col-12 col-md-6 text-md-end">
          05/2016 to 01/2017
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">Law Clerk</p>
        <p class="location col-12 col-md-6 text-md-end">
          Sacramento, CA
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Created and prepared legal drafts by organizing and
            assembling information for legal documents and forms,
            including demand letters, discovery requests and
            complaints.
          </li>
          <li>
            Assessed cases for probable outcomes through research
            of black letter law and other legal authority,
            comparing facts to those of precedential cases.
          </li>
          <li>
            Communicated with existing and potential clients to
            prepare detailed claim summaries.
          </li>
        </ul>
      </div>
    </div>

    <div class="job-info">
      <div class="row">
        <p class="employer col-12 col-md-6">
          Voices College-Bound Language Academy
        </p>
        <p class="date-range col-12 col-md-6 text-md-end">
          08/2013 to 06/2015
        </p>
      </div>
      <div class="row">
        <p class="job-title col-12 col-md-6">
          Bilingual Associate Teacher
        </p>
        <p class="location col-12 col-md-6 text-md-end">
          San Jose, CA
        </p>
      </div>
      <div class="description">
        <ul>
          <li>
            Taught, guided, and supported 35 second grade students
            in subjects including Spanish, English, Math, and
            Cultural Heritage.
          </li>
          <li>
            Managed classroom behavior through clearly outlined
            standards and positive reinforcement.
          </li>
          <li>
            Assisted lead teacher to set up and manage classroom
            and outdoor activities, keeping a consistent schedule
            while introducing a wide range of educational and
            cultural experiences.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}} 