{{define "skills"}}
<div class="row">
  <div class="col-12">
    <h2 class="title-shadow mb-4">Skills</h2>
    <div class="row text-start skills-section">
      <div class="col-lg-6 col-sm-12 px-4">
        <h4 class="m-2">Technology</h4>
        <ul>
          <li>Languages: Python, Go, Javascript</li>
          <li>Backend: Django, Flask, Go Chi/GORM</li>
          <li>Frontend: HTMX, Alpine, React, Vue, jQuery</li>
          <li>Data Science: Pandas, SQL, Tableau</li>
          <li>Other: Git + Github, Vim</li>
        </ul>
      </div>
      <div class="col-lg-6 col-sm-12 px-4">
        <h4 class="m-2">Legal</h4>
        <ul>
          <li>Case Analysis</li>
          <li>Discovery</li>
          <li>Legal Research &amp; Writing</li>
          <li>Time Management and Prioritization</li>
          <li>Complex Problem Solving</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{end}} 