{{define "summary"}}
<div class="row">
  <div class="col-12">
    <h2 class="title-shadow mb-4">Summary</h2>
    <p class="text-center">
      Software Engineer &amp; Attorney specializing in Web
      Development and Data Transformation.
    </p>
    <p class="text-center">
      Highly driven and resourceful professional backed by years of
      professional technical and legal experience.
    </p>
    <p class="text-center">
        Licensed Attorney in California and District of Columbia.</p>
  </div>
</div>
{{end}} 