/* Base logo styling */
.logo {
}

.about-photo {
    width: var(--image-size);
    height: var(--image-size);
}

.standout {
    text-decoration: underline;
    font-weight: 600;
}

.thumbnail {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 0 1rem;
    background-color: black;
}

/* Small phones (below 400px) */
@media (min-width: 1px) {
    :root {
        --image-size: 15rem;
    }
    .video-card {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* Large phones (400px+) */
@media (min-width: 400px) {
    :root {
        --image-size: 7rem;
    }
    p {
        text-align: left;
    }
}
/* Tablets (600px+) */
@media (min-width: 600px) {
    :root {
        --image-size: 9rem;
    }
    .row {
        margin-bottom: 1.5rem;
    }
    .thumbnail {
        padding: 0 1rem;
    }

}

/* Small desktops (850px+) */
@media (min-width: 850px) {
    :root {
        --image-size: 11.3rem;
    }
    .video-card {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
    }
}

/* Large desktops (1200px+) */
@media (min-width: 1200px) {
    :root {
        --image-size: 13rem;
    }
}
