.view-link {
    margin-top: 1rem;
    width: fit-content;
    padding: 0.5rem 0.75rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.github-logo, .binder-logo {
    width: 1.5rem;
    height: 1.5rem
}

h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}

h3 {
    text-align: center;
}

.row {
    margin-bottom: 3rem;
}

.attribution {
    font-size: 1rem;
}

.screenshot {
    height: 20rem;
}

img.img-fluid {
    border: 8px solid black;
    border-radius: 1rem;
}