.view-link {
    width: fit-content;
    padding: 0.5rem 0.75rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.github-logo, .binder-logo {
    width: 1.5rem;
    height: 1.5rem
}

.attribution {
    font-size: 1rem;
}

img.img-fluid {
    border: 8px solid black;
    border-radius: 1rem;
}

.personal-project-image {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}


/* Small phones (below 400px) */
@media (min-width: 1px) {
 }
/* Large phones (400px+) */
@media (min-width: 400px) {
}
/* Tablets (600px+) */
@media (min-width: 600px) {
    .personal-project-image {
        float: left !important;
    }

    .personal-project-text {
        height: 100%;
    }

}

/* Small desktops (850px+) */
@media (min-width: 850px) {
    .img-fluid {
        max-width: 60rem;
    }

}
/* Large desktops (1200px+) */
@media (min-width: 1200px) {
}
