:root {
    /* Primary Color */
    --bs-primary: #b7d6a8;
    --bs-primary-rgb: 183, 214, 168;

    /* Secondary Color */
    --bs-secondary: #343a40;
    --bs-secondary-rgb: 52, 58, 64;

    /* Link Color */
    --bs-link-color: rgba(255, 255, 255, 0.5);
    --bs-link-hover-color: rgba(255, 255, 255, 0.75);

    /* Custom Colors */
    --bright-green: #77a360;
    --dull-green: #2d5727;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bright-green);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--dull-green);
    --bs-btn-hover-border-color: #000;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--dull-green);
    --bs-btn-active-border-color: #000;
    --bs-btn-active-hadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.navbar-nav {
    --bs-navbar-active-color: rgba(255, 255, 255, 0.9);
    --bs-navbar-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
}

.nav {
    margin-left: auto;
}

.masthead-brand {
    color: #fff;
    font-size: 1.75rem;
}

.nav-logo {
    margin-left: 1.5rem;
    margin-right: 1rem;
}

h1 {
    font-size: calc(4rem + 1.5vw);
    margin-top: 4rem;
    margin-bottom: 4rem;
}

h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

h3 {
    font-weight: 800;
    text-align: center;
}

.title-shadow {
    text-shadow:
        2px 2px 2px var(--bright-green),
        4px 4px 2px var(--bright-green);
}

.misspelled {
    text-decoration: underline red wavy;
}

a {
    color: #1a1d20;
    font-weight: 600;
}

.footer-text {
    color: #fff;
    margin: 0.5rem 0;
    text-align: center;
    font-size: 1.5rem;
}

/* Small phones (below 400px) */
@media (min-width: 1px) {
    p {
        font-size: 1.5rem;
        text-align: center;
    }
}
/* Large phones (400px+) */
@media (min-width: 400px) {
    p {
        font-weight: 300;
    }
}
/* Tablets (600px+) */
@media (min-width: 600px) {
}

/* Small desktops (850px+) */
@media (min-width: 850px) {
}
/* Large desktops (1200px+) */
@media (min-width: 1200px) {
}
