/* Cover Styles */
.cover {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cover-image {
    width: 25rem;
    height: 25rem;
}

.cover-subtext {
    font-size: 2rem;
    font-weight: 300;
}

h2 {
    font-size: 3rem;
    margin-top: 2rem;
}

.job-info {
    gap: 1rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid black;
}

.job-info p {
    margin-bottom: 0;
}

.job-info div {
    display: flex;
}

.employer {
    font-size: 1.5rem;
}

.date-range {
    font-size: 1.5rem;
}

.job-title {
    font-weight: 600;
}

.location {
    font-size: 1.5rem;

}

.print-button {
    font-size: 3rem;
    font-weight: 500;
    border: 6px solid black;
    border-radius: 1rem;
    background-color: #06bd6b;
    box-shadow: 3px 4px 4px #65822b;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.intro-panel {
    margin-bottom: 6rem;
}

.skills-section {
    font-size: 1.5rem;
}

/* Large desktops (1200px and up) */
@media (min-width: 1200px) {
}

/* Small desktops (850px - 1199px) */
@media (min-width: 850px) and (max-width: 1199px) {
}

/* Tablets (600px - 849px) */
@media (min-width: 600px) and (max-width: 849px) {
}

/* Large phones (400px - 599px) */
@media (min-width: 400px) and (max-width: 599px) {
}

/* Small phones (below 400px) */
@media (max-width: 399px) {
}
