{{define "cat-face-detector"}}
<div class="row">
  <div class="col-12">
    <div class="personal-project-image image-right">
      <img
        alt="Photograph of a cat and some money to illustrate the purpose of the Cat Faces Detector project"
        src="/images/faces.webp"
        class="img-fluid m-4"
      />
      <a
        class="btn btn-dark view-link"
        href="https://mybinder.org/v2/gh/TrialAndErrror/ai_colab/HEAD?urlpath=%2Fvoila%2Frender%2FMurrs-voila.ipynb"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="static/images/binder-icon.png"
          alt="MyBinder logo icon"
          class="binder-logo"
        />
        View on Binder
      </a>
    </div>

    <div class="personal-project-text">
      <h3>Cat Face Detector</h3>
      <p>
        Cat Face Detector is an Artificial Intelligence-based facial
        recognition learning model trained to detect pictures of my
        cats. You can upload a picture to the model, and it will tell
        you if it thinks there is one of my cats in the photo, and which
        cat it is. It may take a minute or two to load, because it is
        hosted on a free platform, but the proof of concept is fun to
        play with!
      </p>
    </div>
  </div>
</div>
{{end}} 