{{define "cmg-inventory"}}
<div class="row">
  <div class="col-12">
    <div class="my-4 mb-md-5 d-flex flex-column align-items-center">
      <h3>CMG Inventory</h3>
      <img
        alt="Screenshot of the user interface for the CMG Inventory application"
        src="/images/cmg.webp"
        class="img-fluid professional-project-image my-4"
      />
      <a
        class="btn btn-dark view-link"
        href="mailto:info@trialanderrror.com"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="static/images/icons8-email-50.png"
          alt="Email icon"
          class="me-2 github-logo"
        />
        Ask a Question
      </a>
    </div>

    <p>
      CMG Inventory is an application for tracking and managing
      warehouse inventory. Built for a commercial greenhouse client,
      this application is responsible for the management and reporting
      of inventory in a fast-paced production environment. This
      application includes functionality for management of inventory in
      an office setting as well as quick lookups and inventory movement
      and creation using a barcode scanner while on the warehouse floor
    </p>
    <p>
      If you're interested in more information, or would like a
      demonstration of this application, please
      <a href="mailto:info@trialanderrror.com">contact us</a> and we
      will be happy to answer any questions!
    </p>
  </div>
</div>
{{end}} 