{{define "fetcher"}}
<div class="row">
  <div class="col-12">
    <div class="personal-project-image image-right">
      <img
        alt="Photograph of a dog to illustrate the concept of the Fetcher project"
        src="/images/fetcher.webp"
        class="img-fluid m-4"
      />
      <a
        class="btn btn-dark view-link"
        href="https://github.com/TrialAndErrror/Fetcher"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="static/images/github-mark/github-mark-white.svg"
          alt="GitHub logo icon"
          class="me-2 github-logo"
        />
        View on GitHub
      </a>
    </div>

    <div class="personal-project-text">
      <h3>Fetcher</h3>
      <p>
        Fetcher is a script created to enable local viewing of YouTube
        videos. It includes error handling, code documentation, and
        logging. The purpose of Fetcher is to demonstrate the principles
        of clean code while also providing a useful tool. If you want to
        watch videos without an internet connection, or watch
        high-quality videos with a slow internet connection, this tool
        may be helpful for you!
      </p>
    </div>
  </div>
</div>
{{end}} 