{{define "money-manager"}}
<div class="row">
  <div class="col-12">
    <div class="personal-project-image image-left">
      <img
        alt="Photograph of a calculator and some money to illustrate the purpose of the Money Manager project"
        src="/images/moneymanager.webp"
        class="img-fluid m-4"
      />
      <a
        class="btn btn-dark view-link"
        href="https://github.com/TrialAndErrror/djangoMM"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="static/images/github-mark/github-mark-white.svg"
          alt="GitHub logo icon"
          class="me-2 github-logo"
        />
        View on Github
      </a>
    </div>

    <div class="personal-project-text">
      <h3>Money Manager</h3>
      <p>
        Money Manager is an application for keeping track of bills,
        analyzing your expenditures, and generally managing your money.
        As you add expenses and pay bills, Money Manager will keep track
        of how much money is in each of your accounts.
      </p>
      <p>
        Money Manager was built in Django with a Postgres database.
        Click the links below to view the site or check out the code!
      </p>
    </div>
  </div>
</div>
{{end}} 