{{define "pals-haven"}}
<div class="row">
  <div class="col-12">
    <div
      class="my-4 mt-mb-0 mb-md-5 d-flex flex-column align-items-center"
    >
      <h3>PALS Haven</h3>
      <img
        alt="Screenshot of the user interface for the PALS Haven application"
        src="/images/pals.webp"
        class="img-fluid professional-project-image my-4"
      />
      <a
        class="btn btn-dark view-link"
        href="https://www.palshaven.org"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="static/images/icons8-website-50.png"
          alt="Website icon"
          class="me-2 github-logo"
        />
        Visit PALS Haven
      </a>
    </div>

    <p>
      PALS Haven is an animal shelter in Lodi, California. Trial and
      Errror partnered with PALS Haven to renovate their website and
      enable them to manage information about pets, news, events, and
      other information about PALS Haven in an easy-to-use web
      application. With their new website, PALS Haven has enabled their
      volunteers to create content and promote their animals much more
      easily and keep interested users informed of new developments and
      available animals much more quickly and easily.
    </p>
    <p>
      Visit the PALS Haven website by clicking the button to learn more
      about their organization and see some of their lovely animals in
      search of their forever homes, as well as learn about the events
      that they put on for the community.
    </p>
  </div>
</div>
{{end}} 