{{define "tne-assistant"}}
<div class="row">
  <div class="col-12">
    <div class="personal-project-image image-left">
      <img
        alt="Photograph of a cat sitting on a lap to illustrate the concept of a cat as your Assistant"
        src="/images/assistant.webp"
        class="img-fluid m-4"
      />
      <a
        class="btn btn-dark view-link"
        href="https://github.com/TrialAndErrror/TnE_Assistant"
        target="_blank"
        rel="noreferrer"
      >
        <img
          src="static/images/github-mark/github-mark-white.svg"
          alt="GitHub logo icon"
          class="me-2 github-logo"
        />
        View on GitHub
      </a>
    </div>

    <div class="personal-project-text">
      <h3>TnE Assistant</h3>
      <p>
        Trial and Errror Assistant is a voice-activated interface that
        allows you to quickly and efficiently access the information and
        media across the web. You can use it to help play your favorite
        media, look up information, and other everyday tasks! TnE
        Assistant was designed as a privacy-conscious alternative to
        Voice Assistant devices like Amazon Alexa and Google Assistant.
      </p>
    </div>
  </div>
</div>
{{end}} 